
.DS_Store
.DS_Store
.DS_Store
/TDS_UC15_projetoIntegradorII/TeachersToolbox/nbproject/private/
/TDS_UC15_projetoIntegradorII/TeachersToolbox/build/
/TDS_UC15_projetoIntegradorII/TeachersToolbox/dist/
